In [1]:
import json
import pandas as pd
# http://ocelma.net/MusicRecommendationDataset/lastfm-360K.html

In [2]:
lastfm_hist = pd.read_csv('data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv', sep='\t', header=None)
user = pd.read_csv('data/lastfm-dataset-360K/usersha1-profile.tsv', sep='\t', header=None)

FileNotFoundError: [Errno 2] No such file or directory: 'data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'

In [5]:
lastfm_hist.shape

(17535655, 4)

In [6]:
user.shape

(359347, 5)

In [7]:
lastfm_hist.head()

,0,1,2,3
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706

In [8]:
user.head()

,0,1,2,3,4
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007"
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"

In [9]:
lastfm_hist.rename(columns={0: 'user_id', 1: 'artist_id', 2: 'artist_name', 3: 'plays'}, inplace=True)
user.rename(columns={0: 'user_id', 1: 'gender', 2: 'age', 3: 'country', 4: 'signup_date'}, inplace=True)

In [10]:
lastfm_hist.head()

,user_id,artist_id,artist_name,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706

In [11]:
quotechars = '\\t'
unuse_idx = lastfm_hist[lastfm_hist['artist_name'].str.contains(
    pat=quotechars
    , na=False
    , case=False
)].index

In [12]:
lastfm_hist.drop(unuse_idx, inplace=True)

In [13]:
lastfm_hist.shape

(17535643, 4)

In [14]:
user.head()

,user_id,gender,age,country,signup_date
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007"
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"

In [15]:
user.dropna(inplace=True)

In [16]:
with open('data/composers.json', 'r') as f:
        composers = json.load(f)
        
composers_df = pd.DataFrame(composers['composers'])
composers_df.rename(columns={'name':'composer'}, inplace=True)

In [17]:
composers_df['complete_name'].unique()

array(['John Adams', 'Thomas Adès', 'Isaac Albéniz', 'Tomaso Albinoni',
       'George Antheil', 'Malcolm Arnold', 'Milton Babbitt',
       'Johann Sebastian Bach', 'Carl Philipp Emanuel Bach',
       'Johann Christian Bach', 'Mily Balakirev', 'Samuel Barber',
       'Béla Bartók', 'Arnold Bax', 'Ludwig van Beethoven',
       'Vincenzo Bellini', 'Alban Berg', 'Luciano Berio',
       'Hector Berlioz', 'Leonard Bernstein', 'Franz Berwald',
       'Heinrich Franz von Biber', 'Harrison Birtwistle', 'Georges Bizet',
       'Ernest Bloch', 'Luigi Boccherini', 'Alexander Borodin',
       'Pierre Boulez', 'Joly Braga Santos', 'Johannes Brahms',
       'Benjamin Britten', 'Max Bruch', 'Anton Bruckner',
       'Ferruccio Busoni', 'Dietrich Buxtehude', 'William Byrd',
       'John Cage', 'Camargo Guarnieri', 'Elliott Carter',
       'Emmanuel Chabrier', 'Marc-Antoine Charpentier', 'Ernest Chausson',
       'Carlos Chávez', 'Luigi Cherubini', 'Frédéric Chopin',
       'Aaron Copland', 'Arcangelo Corelli', 'John Corigliano',
       'François Couperin', 'George Crumb', 'César Cui', "Vincent d'Indy",
       'Michael Daugherty', 'Claude Debussy', 'Léo Delibes',
       'Frederick Delius', 'Josquin Des Prez',
       'Karl Ditters von Dittersdorf', 'Ernst von Dohnányi',
       'Gaetano Donizetti', 'John Dowland', 'Guillaume Dufay',
       'Paul Dukas', 'Maurice Duruflé', 'Henri Dutilleux',
       'Antonín Dvořák', 'Edward Elgar', 'George Enescu',
       'Manuel de Falla', 'Gabriel Fauré', 'John Field', 'César Franck',
       'Girolamo Frescobaldi', 'George Gershwin', 'Carlo Gesualdo',
       'Orlando Gibbons', 'Alberto Ginastera', 'Philip Glass',
       'Alexander Glazunov', 'Reinhold Glière',
       'Mikhail Ivanovich Glinka', 'Christoph Willibald von Gluck',
       'Karl Goldmark', 'Antonio Carlos Gomes', 'Henryk Górecki',
       'Morton Gould', 'Charles Gounod', 'Percy Grainger',
       'Enrique Granados', 'Edvard Grieg', 'Sofia Gubaidulina',
       'George Frideric Handel', 'Howard Hanson', 'Roy Harris',
       'Franz Joseph Haydn', 'Hans Werner Henze', 'Victor Herbert',
       'Paul Hindemith', 'Vagn Holmboe', 'Gustav Holst',
       'Arthur Honegger', 'Johann Nepomuk Hummel',
       'Engelbert Humperdinck', 'Jacques Ibert', 'Charles Ives',
       'Leoš Janáček', 'Clément Janequin', 'Scott Joplin',
       'Dmitry Kabalevsky', 'Aram Khachaturian', 'Zoltán Kodály',
       'Erich Wolfgang Korngold', 'Edouard Lalo', 'Orlande de Lassus',
       'Ruggero Leoncavallo', 'Léonin', 'György Ligeti', 'Franz Liszt',
       'Fernando Lopes-Graça', 'Jean-Baptiste Lully',
       'Witold Lutoslawski', 'Edward MacDowell', 'Guillaume de Machaut',
       'Gustav Mahler', 'Marin Marais', 'Benedetto Marcello',
       'Alessandro Marcello', 'Bohuslav Martinů', 'Pietro Mascagni',
       'Jules Massenet', 'Felix Mendelssohn', 'Olivier Messiaen',
       'Francisco Mignone', 'Darius Milhaud', 'Ernest Moeran',
       'Claudio Monteverdi', 'Wolfgang Amadeus Mozart',
       'Modest Mussorgsky', 'Carl Nielsen', 'Luigi Nono', 'Jacob Obrecht',
       'Johannes Ockeghem', 'Jacques Offenbach', 'Carl Orff',
       'Johann Pachelbel', 'Niccolò Paganini',
       'Giovanni Pierluigi da Palestrina', 'Arvo Pärt',
       'Krzysztof Penderecki', 'Giovanni Battista Pergolesi', 'Pérotin',
       'Astor Piazzolla', 'Francis Poulenc', 'Michael Praetorius',
       'Sergei Prokofiev', 'Giacomo Puccini', 'Henry Purcell',
       'Sergei Rachmaninoff', 'Jean-Philippe Rameau',
       'Einojuhani Rautavaara', 'Maurice Ravel', 'Max Reger',
       'Steve Reich', 'Ottorino Respighi', 'Wolfgang Rihm',
       'Nikolai Rimsky-Korsakov', 'Joaquín Rodrigo', 'Ned Rorem',
       'Gioachino Rossini', 'Albert Roussel', 'Camille Saint-Saëns',
       'Antonio Salieri', 'Erik Satie', 'Domenico Scarlatti',
       'Alessandro Scarlatti', 'Franz Schmidt', 'Alfred Schnittke',
       'Arnold Schoenberg', 'Franz Schubert', 'William Schuman',
       'Robert Schumann', 'Heinrich Schütz', 'Alexander Scriabin',
       'Dmitri Shostakovich', 'Jean Sibelius', 'Bedrich Smetana',
       'Fernando Sor', 'Louis Spohr', 'Carl Stamitz',
       'Wilhelm Stenhammar', 'Karlheinz Stockhausen', 'Richard Strauss',
       'Johann Strauss Jr', 'Igor Stravinsky', 'Josef Suk',
       'Jan Pieterszoon Sweelinck', 'Karol Szymanowski', 'Toru Takemitsu',
       'Thomas Tallis', 'Giuseppe Tartini', 'John Taverner',
       'Pyotr Ilyich Tchaikovsky', 'Georg Philipp Telemann',
       'Michael Tippett', 'Edgard Varèse', 'Ralph Vaughan Williams',
       'Giuseppe Verdi', 'Tomás Luis de Victoria', 'Heitor Villa-Lobos',
       'Antonio Vivaldi', 'Richard Wagner', 'William Walton',
       'Carl Maria von Weber', 'Anton Webern', 'Kurt Weill',
       'Charles-Marie Widor', 'Hugo Wolf', 'Iannis Xenakis',
       'Eugene Ysaÿe', 'Alexander von Zemlinsky'], dtype=object)

In [18]:
meta_df = pd.read_csv('data/musicnet_metadata.csv')

In [19]:
meta_df.head()

,id,composer,composition,movement,ensemble,source,transcriber,catalog_name,seconds
0,1727,Schubert,Piano Quintet in A major,2. Andante,Piano Quintet,European Archive,http://tirolmusic.blogspot.com/,OP114,447
1,1728,Schubert,Piano Quintet in A major,3. Scherzo: Presto,Piano Quintet,European Archive,http://tirolmusic.blogspot.com/,OP114,251
2,1729,Schubert,Piano Quintet in A major,4. Andantino - Allegretto,Piano Quintet,European Archive,http://tirolmusic.blogspot.com/,OP114,444
3,1730,Schubert,Piano Quintet in A major,5. Allegro giusto,Piano Quintet,European Archive,http://tirolmusic.blogspot.com/,OP114,368
4,1733,Schubert,Piano Sonata in A major,2. Andantino,Solo Piano,Museopen,Segundo G. Yogore,D959,546

In [20]:
composer_uniq = [item for item in composers_df.loc[composers_df['complete_name'].str.contains('|'.join(meta_df['composer'].unique()), na=False, case=False), 'complete_name']]

In [21]:
composer_uniq

['Johann Sebastian Bach',
 'Carl Philipp Emanuel Bach',
 'Johann Christian Bach',
 'Ludwig van Beethoven',
 'Johannes Brahms',
 'Franz Joseph Haydn',
 'Wolfgang Amadeus Mozart',
 'Jacques Offenbach',
 'Maurice Ravel',
 'Franz Schubert']

In [22]:
use_hist = lastfm_hist[lastfm_hist['artist_name'].str.contains(
    '|'.join(composer_uniq)
    , na=False
    , case=False
)]

In [23]:
use_hist.shape

(27368, 4)

In [24]:
use_hist['artist_name'].unique()

array(['johann sebastian bach', 'franz schubert', 'ludwig van beethoven',
       'maurice ravel', 'wolfgang amadeus mozart', 'franz joseph haydn',
       'johannes brahms', 'jacques offenbach',
       'johann sebastian bach(1685-1750)', 'johann christian bach',
       'carl philipp emanuel bach', 'ludwig van beethoven (Людвиг В',
       'ludwig van beethoven: london symphony orchestra & sir george solti',
       'johannes brahms (1833-1897)',
       'johann sebastian bach (Иоганн Себастьян Бах)',
       'franz schubert - matthias goerne, graham johnson',
       'johann sebastian bach, yo-yo ma',
       'johann sebastian bach (glenn gould)',
       'johann sebastian bach - daniel barenboim',
       'ludwig van beethoven, philadelphia orchestra & riccardo muti',
       'johann sebastian bach / maurice gendron',
       'maurice ravel and modest mussorgsky',
       'johannes brahms (Иоганнес Брамс)',
       'ludwig van beethoven herbert von karajan walter berry gundula janowitz waldemar kmentt hilde rossel-majdan',
       'johannes chrysostomus wolfgang amadeus mozart',
       'ludwig van beethoven (Людвиг Ван Бетховен)',
       'maurice ravel (composer)', 'glenn gould - johann sebastian bach',
       'johann sebastian bach - bwv 248 - weihnachtsoratorium'],
      dtype=object)

In [25]:
use_hist.dropna(inplace=True)

/var/folders/ls/jhlm1yj52w75z_v508nspzpw0000gn/T/ipykernel_3141/2753273126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  use_hist.dropna(inplace=True)

In [28]:
len(use_hist['user_id'].unique())

17120

In [29]:
idx = 0
user_lst = []
user_dict = {}
for id in use_hist['user_id'].unique():
    user_lst.append(f"{id} {idx}")
    user_dict[id] = idx
    idx+=1

In [30]:
user_lst[:3]

['000063d3fe1cf2ba248b9e3c3f0334845a27a6bf 0',
 '0005fb9cb3bb0c4c89fe715630cc9dee91d1dadf 1',
 '000a4fba9046379163980531da4e211bb2d20f3a 2']

In [31]:
idx = 0
artist_lst = []
artist_dict = {}
for id in use_hist['artist_id'].unique():
    artist_lst.append(f"{id} {idx}")
    artist_dict[id] = idx
    idx+=1

In [32]:
artist_lst

['24f1766e-9635-4d58-a4d4-9413f9f98a4c 0',
 'f91e3a88-24ee-4563-8963-fab73d2765ed 1',
 '1f9df192-a621-4f54-8850-2c5373b7eac9 2',
 '6fdd3b3e-1ea6-4da9-8d6f-8f8de01c133a 3',
 'b972f589-fb0e-474e-b64a-803b0364fa75 4',
 'c130b0fb-5dce-449d-9f40-1437f889f7fe 5',
 'c70d12a2-24fe-4f83-a6e6-57d84f8efb51 6',
 '27bc8cf5-72e1-4888-87de-259fbcaac3ff 7',
 '470967b1-f9ef-4712-82df-6971b517ebdb 8',
 'f6486fc7-90ef-48ad-8ca3-905af1354afe 9']

In [33]:
artist_dict

{'24f1766e-9635-4d58-a4d4-9413f9f98a4c': 0,
 'f91e3a88-24ee-4563-8963-fab73d2765ed': 1,
 '1f9df192-a621-4f54-8850-2c5373b7eac9': 2,
 '6fdd3b3e-1ea6-4da9-8d6f-8f8de01c133a': 3,
 'b972f589-fb0e-474e-b64a-803b0364fa75': 4,
 'c130b0fb-5dce-449d-9f40-1437f889f7fe': 5,
 'c70d12a2-24fe-4f83-a6e6-57d84f8efb51': 6,
 '27bc8cf5-72e1-4888-87de-259fbcaac3ff': 7,
 '470967b1-f9ef-4712-82df-6971b517ebdb': 8,
 'f6486fc7-90ef-48ad-8ca3-905af1354afe': 9}

In [34]:
user_item_lst = []
train_lst = {}

for id in user_dict.keys():
    train_lst[user_dict[id]] = []
    for art in use_hist.loc[use_hist['user_id']==id, 'artist_id']:
        train_lst[user_dict[id]].append(str(artist_dict[art]))

In [35]:
use_hist.loc[use_hist['user_id']=='005247e5abbceffefb469eb405e331a6e5082255']

,user_id,artist_id,artist_name,plays
22347,005247e5abbceffefb469eb405e331a6e5082255,b972f589-fb0e-474e-b64a-803b0364fa75,wolfgang amadeus mozart,387
22367,005247e5abbceffefb469eb405e331a6e5082255,24f1766e-9635-4d58-a4d4-9413f9f98a4c,johann sebastian bach,136
22369,005247e5abbceffefb469eb405e331a6e5082255,1f9df192-a621-4f54-8850-2c5373b7eac9,ludwig van beethoven,116
22376,005247e5abbceffefb469eb405e331a6e5082255,c130b0fb-5dce-449d-9f40-1437f889f7fe,franz joseph haydn,93
22384,005247e5abbceffefb469eb405e331a6e5082255,c70d12a2-24fe-4f83-a6e6-57d84f8efb51,johannes brahms,79
22398,005247e5abbceffefb469eb405e331a6e5082255,f91e3a88-24ee-4563-8963-fab73d2765ed,franz schubert,61

In [36]:
import random

In [41]:
items = train_lst.items()


with open('data/train.txt', 'w') as f:
    for k,v in train_lst.items():
        val = ' '.join(v)
        f.write(f"{k} {val}\n")

In [42]:
with open('data/item_list.txt', 'w') as f:
    f.write("org_id remap_id\n")
    for k,v in sorted(artist_dict.items(), key=lambda x: random.random()):
        f.write(f"{k} {v}\n")

In [43]:
with open('data/user_list.txt', 'w') as f:
    f.write("org_id remap_id\n")
    for k,v in sorted(user_dict.items(), key=lambda x: random.random()):
        f.write(f"{k} {v}\n")

In [ ]:
# Last FM 360k
# users: 17120
# items: 10
# user-item interactions: 27368 

# Knowledge graph
# entities: 919
# types: 12
# triplets: entity-entity가 types로 묶임 (entity, type, entity) ex) (entity1, creator, entity2)

# 곡을 추천해주기 위해 작곡가의 정보를 사용
# 곡이 노드